<!doctype html>
<html>
<head>
    <title>Photo Search from a tag!</title>
</head>
<h5><a href='/'>Home</a></h5>

<body>
        <div class="title">
            <h1>Please enter your search below</h1>
        </div>
        <div id="content">
        	
            <form method="post" action="{{ url_for('search') }}">
                
                <label for="tsearch">Search:</label>
                <input type="text" name="tsearch" /><br /><br>

                <input type="submit" value='Find'/>
            </form>
         </div>


{% if display %}
<h2>Here's your photos !</h2>
    <ul>
    {% for photo in display %}
        <center><h3>{{photo[2]}}</h3></center>
        <center><img  src='data:image/png;base64, {{photo[0]}}' width="40%"/></center>
        <form method="post" action="{{url_for('likephoto', values = photo[1])}}">
            <center><input type="submit" value="Like" /></center>
        </form>
        <form method="post" action="{{url_for('showuserslikes', values = photo[1])}}">
            <center><input type="submit" value="Show People who liked and total likes" /></center>
        </form><br><br>
        <form method="post" action="{{url_for('addcomment',values2 = photo[1])}}">
            <center><label for="comments">Comment:</label></center>
            <center><input type="text" name="comment" /></center>
            <center><input type="submit" value="Postcomment" /></center>
        </form><br><br>
        <form method="post" action="{{url_for('showcomments', values2 = photo[1])}}">
            <center><input type="submit" value="show comments" /></center>
        </form><br><br>
    {% endfor %}
    </ul>
{% endif %}

</body>
</html>