<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo on Scape!</h1>
        </div>
            <form method="post" action="{{ url_for('tagrecommendation') }}">
                
                <label for="tsearch">Enter two tags for suggestions:</label>
                <input type="text" name="tsuggestions" /><br /><br>

                <input type="submit" value='Suggest'/>
            </form>
            
            <form method="post" enctype="multipart/form-data" action="{{url_for('upload_file',values=album_id)}}">
                <label for="photo">Select a photo to upload :</label></t>
                <input type="file" name="photo" required='true' /><br />
                <label for="tags">Tags:</label>
                <input type="text" name="tags" required='true'/><br>
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
